<!DOCTYPE html>
<html lang="en">
<head>
</head><center>
    <form action="stop" method="POST">
        {% csrf_token %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <img src="{% static 'Qr_img.png' %}" alt="My image">

    <div class="button">
        <input type="submit" value="END ATTENDENCE">
      </div>
   </center>
</form>

<body>
    
</body>
</html>